<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='dashboard.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <div class="sidebar">
        <a class="{% block nav_index %}{% endblock %}" href="{{ url_for('index') }}">Home</a>
        <a class="{% block nav_bots %}{% endblock %}" href=" {{ url_for('bots') }}">Bots</a>
        <a class="{% block nav_live %}{% endblock %}" href="{{ url_for('live') }}">Live Analysis</a>
        <a class="{% block nav_analyses %}{% endblock %}" href="#analyses">Static Analysis</a>
        <a class="{% block nav_contact %}{% endblock %}" href="#contact">Contact</a>
        <a class="{% block nav_about %}{% endblock %}" href="#about">About</a>
    </div>

    <div id="content" class="content">
    {% block content %}{% endblock %}
    </div>
</body>
